* {
  box-sizing: border-box;
}
body {
  background-color: rgb(214, 229, 231);
}
.header {
  background-color: rgba(180, 174, 174, 0.178);
  padding: 0.5em;
}

.center-row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.center-column {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  padding: 30px; /* fills out the jumbotron */
  background-color: rgb(114, 183, 192);
}

.jumbotron .container {
  border-radius: 1em;
  padding: 0.5em;
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  background-color: #222;
}

.jumbotron-head {
  color: white;
}

.jumbotron-text {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(114, 183, 192);
  color: white;
  text-align: center;
}

.transfer-main {
  padding-top: 5em;
  padding-bottom: 5em;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transfer-card {
  margin: 1em;
  border-style: solid;
  padding: 2em;
  width: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 1em;
}
